<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="G:\MyGitHub\NLog_Test\NLog_Test\NLog_Test\bin\Debug\InternalLog\inter.txt"
      internalLogToTrace="true"
      >

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>
    <!--ColoredConsole-->
    <target xsi:type="ColoredConsole" name="DebugCC"/>
    <!--Console-->
    <target xsi:type="Console" name="DebugC"/>
    <!--File-->
    <target xsi:type="File" name="DebugF" fileName="Logs/DebugF.txt" createDirs="true" fileNameKind="Relative"/>
    <!--File-->
    <target xsi:type="Debug" name="Debug"/>
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="DebugCC,DebugC,DebugF"></logger>
  </rules>
</nlog>
