<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="G:\MyGitHub\NLog_Test\NLog_Test\NLog_Test\bin\Debug\InternalLog\inter.txt"
      internalLogToTrace="true"
      >

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>
    <!--ColoredConsole-->
    <target xsi:type="ColoredConsole" name="OffCC"/>
    <target xsi:type="ColoredConsole" name="TraceCC"/>
    <target xsi:type="ColoredConsole" name="DebugCC"/>
    <target xsi:type="ColoredConsole" name="InfoCC"/>
    <target xsi:type="ColoredConsole" name="WarnCC"/>
    <target xsi:type="ColoredConsole" name="ErrorCC"/>
    <target xsi:type="ColoredConsole" name="FatalCC"/>
    <!--Console-->
    <target xsi:type="Console" name="OffC"/>
    <target xsi:type="Console" name="TraceC"/>
    <target xsi:type="Console" name="DebugC"/>
    <target xsi:type="Console" name="InfoC"/>
    <target xsi:type="Console" name="WarnC"/>
    <target xsi:type="Console" name="ErrorC"/>
    <target xsi:type="Console" name="FatalC"/>
    <!--File-->
    <target xsi:type="File" name="OffF" fileName="Logs/offF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="TraceF" fileName="Logs/TraceF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="DebugF" fileName="Logs/DebugF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="InfoF" fileName="Logs/InfoF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="WarnF" fileName="Logs/WarnF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="ErrorF" fileName="Logs/ErrorF.txt" createDirs="true" fileNameKind="Relative"/>
    <target xsi:type="File" name="FatalF" fileName="Logs/FatalF.txt" createDirs="true" fileNameKind="Relative"/>
    
  </targets>

  <rules>
    <!--<logger name="*" level="Off" writeTo="OffCC,OffC,OffF"></logger>-->
    <logger name="*" level="Trace" writeTo="TraceCC,TraceC,TraceF"></logger>
    <logger name="*" level="Debug" writeTo="DebugCC,DebugC,DebugF"></logger>
    <logger name="*" level="Info" writeTo="InfoC,InfoCC,InfoF"></logger>
    <logger name="*" level="Warn" writeTo="WarnCC,WarnC,WarnF"></logger>
    <logger name="*" level="Error" writeTo="ErrorCC,ErrorC,ErrorF"></logger>
    <logger name="*" level="Fatal" writeTo="FatalCC,FatalC,FatalF"></logger>
  </rules>
</nlog>
